@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 0.063rem solid $third;
  }
  &__link {
    text-decoration: none;
    color: black;
  }
  &__poster {
    width: 100%;
    object-fit: cover;

    @include tablet {
      height: 7rem;
      width: 7rem;
    }
  }
  &__data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    @include tablet {
      padding: 0;
    }
  }
  &__date {
    &-container {
      width: 4.2rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
    }
    &-month,
    &-day {
      text-transform: uppercase;
      line-height: 1.4;
      font-size: 1.25rem;
      margin: 0;
      color: $first;
    }
  }
  &__info {
    flex-grow: 1;
    line-height: 1.4;
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  &__title,
  &__location,
  &__start-price,
  &__website-safety {
    margin: 0;
  }
  &__location {
    color: $second;
  }
  &__price-value {
    font-weight: bold;
    color: $fourth;
  }
  &__website-safety {
    &--safe,
    &--unknown {
      font-weight: bold;
    }
    &--safe {
      color: $safe;
    }
    &--unknown {
      color: $unknown;
    }
  }
  &__button-container {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__button {
    height: 3rem;
    width: 25rem;
    position: relative;
    display: block;
    padding: 15px 5px;
    text-align: center;
    font-weight: bold;
    width: 110px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: all ease 600ms;
    text-transform: uppercase;
  }
  &__purchase-button {
    background-color: $background-fifth;
    color: $fifth;
    &:hover {
      background-color: $background-third;
    }
  }
}
