@font-face {
  font-family: "Futura Md Medium";
  src: url(../../assets/Fonts/titillium/FuturaMdMedium.woff2) format("woff2"),
    url(../../assets/Fonts/titillium/FuturaMdMedium.woff) format("woff"),
    url(../../assets/Fonts/titillium/FuturaMdMedium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
