@font-face {
  font-family: "Futura Md Medium";
  src: url(../../src/assets/Fonts/FuturaMdMedium.ttf) format("woff2"),
    url(../../src/assets/Fonts/FuturaMdMedium.woff) format("woff"),
    url(../../src/assets/Fonts/FuturaMdMedium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
