$tablet-width: 768px;
$desktop-width: 1280px;

$background-first: #dce5ff;
$background-second: #eff3ff;
$background-third: #8d9bc6;
$background-fourth: #b9c6eb;
$background-fifth: #586076;
$background-sixth: #719eeb;

$first: #5271ff;
$second: #666666;
$third: #bbbbbb;
$fourth: #c1ff72;

$starting-price: #db79d4;

$max-price: #0f93ab;

$safe: #00bf63;
$unknown: #ffc043;
