@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;

.react-calendar {
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  line-height: 1.125em;
  @include tablet {
    margin: 0 5rem;
  }
  &__navigation {
    display: flex;
    &button:enabled:hover,
    &button:enabled:focus {
      background-color: #f8f8fa;
    }
  }
  &__tile {
    &:enabled:hover,
    &:enabled:focus {
      background: #f8f8fa;
      color: #8d9bc6;
      border-radius: 6px;
    }
    &--now {
      background: #dce5ff;
      border-radius: 6px;
      font-weight: bold;
      color: #586076;
      &:enabled:hover,
      &:enabled:focus {
        background: #dce5ff;
        border-radius: 6px;
        font-weight: bold;
        color: #586076;
      }
    }
    &--active {
      background: #586076;
      border-radius: 6px;
      font-weight: bold;
      color: white;
      &:enabled:hover,
      &:enabled:focus {
        background: #586076;
        color: white;
      }
    }
  }
}
.react-calendar .react-calendar__navigation button {
  color: #8d9bc6;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__tile--now .react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}

// .react-calendar--selectRange .react-calendar__tile--hover {
//   background-color: #f8f8fa;
// }
// .react-calendar__tile--range {
//   background: #f8f8fa;
//   color: #586076;
//   border-radius: 0;
// }
// .react-calendar__tile--rangeStart {
//   border-top-right-radius: 0;
//   border-bottom-right-radius: 0;
//   border-top-left-radius: 6px;
//   border-bottom-left-radius: 6px;
//   background: #586076;
//   color: white;
// }
// .react-calendar__tile--rangeEnd {
//   border-top-left-radius: 0;
//   border-bottom-left-radius: 0;
//   border-top-right-radius: 6px;
//   border-bottom-right-radius: 6px;
//   background: #586076;
//   color: white;
// }
