@use "../styles/partials/fonts" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;

//Font used for website
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "FuturaMdMedium";
}
//Pseudo classes with html tags
h2 {
  font-size: 3rem;
  font-weight: lighter;
}
h3 {
  font-size: 2.5rem;
  font-weight: lighter;
}
h4 {
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.75rem;
  }
}
p {
  font-size: 1rem;
  @include tablet {
    font-size: 1.25rem;
  }
}
h2,
h2,
h3,
h4,
p {
  margin: 0;
}
//_____________GENERAL ELEMENT PSEUDOCLASSES_____________

.link {
  display: inline-block;
  height: 100%;
  text-align: center;
  text-decoration: none;
  transition: 600ms;
}
.dark-link {
  color: black;
  &:hover {
    color: $background-fifth;
  }
}
.light-link {
  color: $background-second;
  &:hover {
    color: $background-fourth;
  }
}

.button {
  height: 3rem;
  width: 7.5rem;
  position: relative;
  display: block;
  overflow: hidden;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 600ms;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  @include tablet {
    height: 3.5rem;
    width: 8rem;
  }
}

//_____________EVENT PAGE PSEUDOCLASSES_____________

.event {
  &__link {
    text-decoration: none;
    &--modifier {
      display: none;
    }
  }
  &__light-button {
    background-color: $background-fourth;
    &:hover {
      background-color: $background-third;
    }
  }
  &__search-button {
    background-color: $background-first;
    &:hover {
      background-color: $background-third;
    }
  }
  &__dark-button {
    background-color: $background-fifth;
    color: $fourth;
    &:hover {
      background-color: $background-third;
    }
  }
  //Class applied to ticket's price
  &__start-price-value {
    font-weight: bold;
    color: $starting-price;
  }
  &__max-price-value {
    font-weight: bold;
    color: $max-price;
  }
  //Color class depending on provider's website safety
  &__website-safety {
    &--safe,
    &--unknown {
      font-weight: bold;
    }
    &--safe {
      color: $safe;
    }
    &--unknown {
      color: $unknown;
    }
  }
}
