@use "./styles/partials/fonts" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;

//Font used for website
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura-Md-Medium";
}
